@import url("colors-waybar.css");

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: transparent;
}

button {
  color: @foreground;
  background: alpha(@background, 0.75);
  outline-style: none;
  border: 1px solid alpha(@foreground, 0.15);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32%;
  border-radius: 14px;
  min-width: 72px;
  min-height: 72px;
  margin: 8px;
  padding: 0;
  transition: all 0.2s ease;
}

button:focus,
button:hover {
  background-color: @color4;
  color: @background;
  border-color: @color4;
  background-size: 36%;
}

#logout {
  background-image: image(
    url("./icons/logout.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/power.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
