@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color color4 #89b4fa;
@import url("colors-waybar.css");

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  color: @foreground;
  background-color: alpha(@background, 0.8);
  outline-style: none;
  border: 1px solid alpha(@foreground, 0.1);
  background-repeat: no-repeat;
  background-position: center 30%; /* Remonte un peu l'icône pour laisser place au texte */
  background-size: 25%;
  border-radius: 20px; /* Bords arrondis comme sur l'image */
  margin: 15px; /* Espace entre les boutons */
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: bold;
}

button:focus,
button:hover {
  background-color: alpha(@color4, 0.8);
  color: @background;
  border-color: @color4;
}

#logout {
  background-image: image(url("./icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}
#hibernate {
  background-image: image(url("./icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}
#shutdown {
  background-image: image(url("./icons/power.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}
#reboot {
  background-image: image(url("./icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
